/* 共通設定 */
html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

.rapper {
  background-color: #F7FFD5;
  height: 100vh;
}

img {
    max-width: 100%;
}
/* 共通パーツ */
.link {
  color: #339DFF;
}
.link a:hover{
  color: #339DFF;
  text-decoration: underline;
}
.link a:visited{
  color: #339DFF;
}

.vertical {
  writing-mode: vertical-rl;
  font-size: 1.7rem;
  margin-left: 44%;

}

.btn-orange {
  display: block;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  background-color: #FDC709A3;
  border-radius: 150px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
}
.btn-orange:active {
  box-shadow: none;
  margin-top: 3px;
}
.btn-green {
  display: block;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  background: linear-gradient(rgba(18, 241, 40, 1), rgba(0, 227, 174, 1));
  border-radius: 150px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
}

.btn-green:active {
  box-shadow: none;
  margin-top: 3px;
}
/* header */
header {
  margin: 0 5vh;
  padding: 100px 0;
  margin-bottom: 30px;
}
.header-container {
  width: 95%;
  margin: 0 5vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
.header-not-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logo {
  width: 150px;
  height: 150px;
  margin-top: 5vh;
}
/* top */
.top-logo {
    width: 150px;
    height: 150px;
    margin-left: 10vh;
    padding-top: 5vh;

/* top */

.vertical {
  writing-mode: vertical-rl;
  font-size: 1.7rem;
  margin-left: 44%;
}

.logo {
  display: inline;
}

.logo img {
  margin-top: 5vh;
  margin-left: 10vh;
  width: 10%;
  height: auto;
  float: left;
  display: inline;
}

.logo-sub {
  float: left;
  position: relative;
  display: inline;
  font-size: 1.7rem;
  font-weight: bold;
}

.top-pic-right {
  text-align: right;
  margin-top: -27%;
  margin-right: 2%;
}

.top-pic-right img{
  width: 20%;
  height: 60vh;
}

.top-pic-left img {
  width: 25%;
  height: auto;
  border-radius: 157px;
  display: inline-block;
  margin-top: -20%;
  margin-left: 5%;
}

.top-middle-comment {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Yusei Magic;
  margin-left: 10%;
}

.top-pic-middle img {
  width: 35%;
  height: 40%;
  border-radius: 150px;
  margin-right: 5%;
  display: inline;
  float: right;
}

.top-mori-icon img {
  width: 7%;
  height: 7%;
  margin: 10% 50%;
}

.middle-mori-icon img {
  display: inline-flex;
  width: 7%;
  height: 7%;
  margin: 10% 50%;
}

.login-btn button {
  margin-top: 2vh;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #FDC709A3;
  border-radius: 150px;
  font-style: none;
  display: flex;
  width: 15%;
  height: 10%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 10vh;
}

.top-bottom-comment {
  position: relative;
}

.top-pic4 {
  width: 15%;
  height: auto;
  position: relative;
  margin-top: 15%;
  margin-left: 10%;
}

.top-pic5 {
  width: 100%;
  height: auto;
  position: absolute;
  top: -5vh;
  left: 12vh;
}

.top-pic6 {
  width: 100%;
  height: auto;
  position: absolute;
  top: -10vh;
  left: 25vh;
}

.top-pic7 {
  width: 100%;
  height: auto;
  position: absolute;
  top: -15vh;
  left: 45vh;
}

.top-pic8 {
  width: 100%;
  height: auto;
  position: absolute;
  top: -20vh;
  left: 60vh;
}

.top-bottom-comment {
  font-size: 1.2rem;
  font-weight: bold;
}

.top-bottom {
  display: flex;
  margin-left: 13%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.top-kaiin {
  margin-top: 20%;
  margin-left: 20%;
  font-size: 1.5rem;
}

.top-bottom-right {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 10%;
  margin-top: -20%;
}

/*top*/

/*login.blade.php*/
.login {
    margin: 0 auto 0 auto;
    max-width: 568px;
}

.login_botan {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.login_email {
    width: 100%;
}

.login_link {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
/*login.blade.php*/

/* syoukaijou_create */

.syoukaijou_create {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  line-height: 2;
}

.syoukaijou-top {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.syoukaijou-daimei {
  font-size: 1.5rem;
  margin-right: 40%;
}

.syoukaijou-title-daimei {
  margin-bottom: 1%;
  margin-right: 40%;
  
}